#wallet_balance {
  background-color: teal;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px;
  display: inline-block;
}
#balance {
  display: inline-block;
  background-color: teal;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px;
  display: inline-block;
}

#purchased_vouchers {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  justify-content: center;
}
.voucher {
  padding: 5px;
  background-color: teal;
  color: white;
}
.imgDiv {
  width: 100%;
  height: 300px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
}
